<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snowflake Generator Website</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style_about.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Rubik:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7f5a9815ed.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/" id="navbar__logo"> <i class="fas fa-snowflake"></i></i> SNOWMAKES</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span> <!-- this is the 3 bars as menu button-->
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/" class="navbar__links">
                            Home
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/advanced" class="navbar__links">
                            Advanced Mode
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/about" class="navbar__links">
                            About
                        </a>
                        <li class="navbar__btn">
                            <a href="/howitworks" class="button">
                                How It Works
                            </a>
                        </li>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Bla section-->
        <div class="main">
            <div class="main__container">
                <div class="main__content">
                    <h1>ABOUT</h1>
                    <h2>SNOWMAKES</h2>
                    <p>The random snowflake generator</p>

                </div>
                <div class="main__txt--container" id="main__txt_container">

                   <!--<img src="{{ url_for('static',filename='images/flakespace.png') }}" id="main__img">-->
                    <p id="main__txt"> Thanks for visiting my snowflake generating website! My name's Pip and I'm the
                        cohost and editor for the Real Science Questions Podcast. I started the podcast in summer 2021
                        with my friend Tara so that we could explore scientific topics that interest us, and attempt to answer
                        our scientific questions! While researching why snowflakes are unique and how they form
                        for our Christmas bonus episode in 2021 I felt inspired to try and make a simple 2D unique
                        snowflake generator - snowmakes! <br>
                        <br>
                        - check out the how it works section if you want more technical details, and please check
                        out the real science questions podcast Christmas episode for the snow discussion, plus
                        some lighter parts about if you could ever safely eat yellow snow, how reindeers would have
                        to change to be able to fly, and how rudolph could really have a brightly growing nose!
                        It's available on spotify, google podcasts, iTunes, pocket casts, audible, amazon music, and so on!
                        Or listen on our website (link below).
                        <br>
                        If you have any questions / comments send me an email: rsqpodcast@gmail.com


                    </p>
                </div>
            </div>
        </div>

        <!-- Services section -->
        <div class="services">
            <h1>Thanks for visiting! - Pip</h1>
            <div class="services__container">
                <div  class="services__card" id='photocard1'>
                    <h2>Want to know more?</h2>
                    <p>Listen to the Real Science Questions Podcast Christmas Bonus Episode</p>
                    <button>Let's go</button>
                </div>

            </div>
        </div>

        <!-- Footer Section -->
        <div class="footer__container">
            <div class="footer__links">
                <div class="footer__link--wrapper">
                    <div class="footer__link--items">
                        <h2>More</h2>
                        <a href="/howitworks">How it works</a>
                        <a href="/about">About</a>
                        <a href="/">Make More Flakes</a>
                    </div>
                </div>
                <div class="social__media">
                    <div class="social__media--wrap">
                        <div class="footer__logo">
                            <a href="/" id="footer__logo"> <i class="fas fa-snowflake"></i>
                                 SNOWMAKES</a>
                        </div>
                        <p class="website__right">Designed for fun by Pip Clark</p>

                            <a href="https://twitter.com/RSQpodcast" class="social__icon--link"
                            target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://open.spotify.com/show/75q5f2NzC91QjvaD6AzrSz?si=f9f75c67b34a41b9" class="social__icon--link"
                            target="_blank">
                                <i class="fab fa-spotify"></i>
                            </a>
                        <a href="https://www.facebook.com/RSQpodcast" class="social__icon--link"
                        target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://rsqpodcast.libsyn.com" class="social__icon--link"
                        target="_blank">
                            <i class="fas fa-podcast"></i>
                        </a>
                        <a href="https://github.com/pipclark" class="social__icon--link"
                        target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCqCEfSyeL43XRdVn-TF8Rkw" class="social__icon--link"
                        target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{url_for('static', filename='app.js')}}"></script> <!-- need it to call the javascript for animating the button -->
        <script src="{{url_for('static', filename='callingforsnow.js')}}"></script>
        <script src="{{url_for('static', filename='cardlinks.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>